# ENV files (security => no git sync)
.env
*.env
.env.*
.env_*
.env-*
# Dependencies
node_modules/
# Data specific
data/
!data/templates/
!data/templates/**
!data/examples/
src/public/static/
!src/public/static/js/
!src/public/static/styles/
# Local only
archives/
tests/
.~lock.*
.eslint*
grep_*
*.log
